h1{
    text-align: center;
    font-weight:normal;
    text-decoration: underline overline dotted red;
    text-decoration-style: way;
    letter-spacing: 15px;
    font-size: 80px;
}

p{
    /* text-align: right; */
    font-weight: 600;
    /* line-height: 0%; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    
}
h2{
    text-decoration: underline;
    font-style: italic;
}
h3{
    text-decoration: underline wavy;
    font-style: italic;
}