body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgb(0, 0, 0,0.5)),
   url("https://images.pexels.com/photos/2398220/pexels-photo-2398220.jpeg?auto=compress&cs=tinysrgb&w=6000&h=1000&dpr=1");
   background-size: cover;
    
}
.cover-container{
    max-width: 70%;
    
}




.nav-link:hover{
    background-color: rgb(237, 255, 255,0.2);
    border-radius: 5px;
    font-size: 1.2rem;
}