h1{
    background-color: #8ecae6;
    border: 5px solid #023047;
    padding: 0.7em;
    width: 300px;
    margin:20px auto;
    font-size: 1.8em;
    text-align: center;
    color: #eae2b7;
    font-family: 'Courier New';
    font-weight: lighter;
}

h1:nth-of-type(2n){
    background-color: #e9c46a;
}

h1:nth-of-type(3n)
{
    background-color: #f4a261;
}

h1:nth-of-type(4n)
{
    background-color: #fb8500;
}

section:first-of-type h1:nth-of-type(1)
{
    transform: rotate(45deg);
}

section:first-of-type h1:nth-of-type(2)
{
    transform: scale(2,1);
}

section:first-of-type h1:nth-of-type(3)
{
    transform: translateX(-200px);
}

section:first-of-type h1:nth-of-type(4)
{
    transform: translate(-200px,100px);
}

section:first-of-type(2) h1:nth-of-type(1)
{
    transform: skew(30deg);
}
