
h1{
    text-align: center;
    font-size: 40pt;
    
}

@media(max-width:500px){
h1{
    color: blue;
    background-color: green;
}
nav{
    flex-direction: column;
    align-items: center;
}
}

nav{
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}