<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <h1>Home Page <%= 2+5 %></h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis voluptatibus esse harum cum recusandae, asperiores doloremque officiis autem impedit dicta. Officia nam ad perferendis, quisquam molestiae soluta aperiam illum ipsam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem culpa harum maxime architecto. Temporibus dicta, placeat alias possimus necessitatibus dignissimos expedita similique quasi. Dicta molestiae maiores ratione consequuntur et dolore.</p>
</body>
</html>