#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-container{
  display: flex;
  justify-content: space-between;
  width: 120%;
  border: 1pt solid white;
}

.scorecard{
  padding: 2%;
  width: 100%;
  border-right:solid 1pt white
}

.Score{
  font-size: 52pt;
}

.heading{
  padding-bottom: 10px;
  border-bottom: 1pt solid yellow;
  border-radius: 15%;
}

.playerbutton1{
  width: 100%;
  font-size: 18pt;
  background-color: red;
}

.playerbutton2{
  width: 100%;
  background-color: Green;
  font-size: 18pt;
}

.playerbutton1:hover{
  font-size: 1.7rem;
}

.playerbutton2:hover{
  font-size: 1.7rem;
}