.circle{
    width: 300px;
    height: 300px;
    background-color: magenta;
    transition:3s;
    
}

.circle:hover{
    background-color: cyan;
    border-radius: 50%;
}

section div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin: 20px 0px;
    
}

section:hover{
    margin-left: 500px ;
    transition: 3s;
}
