<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Form </title>
</head>
<body>
    <h2>This the Form To post the Comments</h2>
    <form action="/commentform" method="post">
        <div>
        <label for="username">username</label>
        <input type="text" name="username" id="username" placeholder="username">
        </div>

        <div>
            
            <textarea name="comment" id="comment" cols="30" rows="10">Enter the Comment</textarea>
        </div>

        <button type="submit">Submit!!!</button>
    </form>
    <a href="/index">GO to comments</a>
</body>
</html>