<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>The Comments of Index Page</h2>
    <ul>
        <% for(let comment of comments) {%>
            <li><%= comment.username %> has commented: <br> <%= comment.comment %></li>
            <% } %>
    </ul>

    <a href="/commentform">Enter the comment</a>
</body>
</html>