<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show COmments</title>
</head>
<body>
    <h1>The Commentor Id : <%= id %></h1>
    <strong>Comments are :</strong>
    <br>
    <p><%= comment  %></p>
</body>
</html>