

html{
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

body{
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    justify-items: center;
    min-height: 100vh;
}

.panel{
    background-color: white;
    border-radius: 10px;
    padding: 25px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan{
    border-bottom: 1pt solid #e1f1ff;
}

.pricing-plan:last-child{
    border: none
}

.pricing-img{
    margin-bottom: 25px ;
    max-width: 100%;
}

.pricing-header{
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features{
    margin: 50px 0 50px;
    color: #016ff9;
}

.pricing-features-item{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5rem;
    padding: 15px 0px;
    border-top: 1px solid #e1f1ff
}

.pricing-features-item:last-child{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5rem;
    padding: 15px 0px;
    border-top: 1px solid #e1f1ff
}

.pricing-price{
    color:#016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button{
    border: 1pt solid #9dd1ff;
    border-radius: 10px;
    counter-reset: #348efe;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}

.pricing-button:hover,.pricing-button:focus{
    background-color: #e1f1ff;
    
}